AUTH0_ISSUER_URI=https://your-domain.auth0.com/
AUTH0_AUDIENCE=https://api.twittarep.example.com
AUTH0_DOMAIN=your-domain.auth0.com
AUTH0_SPA_CLIENT_ID=your-spa-client-id
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
FRONTEND_LOCAL_ORIGIN=http://localhost:5173
FRONTEND_S3_ORIGIN=https://your-bucket.s3-website-us-east-1.amazonaws.com
POSTS_DATABASE_NAME=twittarep_posts_service
